.elementor-200 .elementor-element.elementor-element-536cb09 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 30px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-200 .elementor-element.elementor-element-536cb09:not(.elementor-motion-effects-element-type-background), .elementor-200 .elementor-element.elementor-element-536cb09>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-0c527b7) 0%, var(--e-global-color-e68b230) 100%);
}

.elementor-200 .elementor-element.elementor-element-536cb09, .elementor-200 .elementor-element.elementor-element-536cb09::before {
    --border-transition: 0.3s;
}

.elementor-200 .elementor-element.elementor-element-804d666 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-2e7178f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-95950b3 .elementor-heading-title {
    color: var(--e-global-color-314576f);
    font-family: var(--e-global-typography-9fc2fa7-font-family), Sans-serif;
    font-size: var(--e-global-typography-9fc2fa7-font-size);
    font-weight: var(--e-global-typography-9fc2fa7-font-weight);
    line-height: var(--e-global-typography-9fc2fa7-line-height);
}

.elementor-200 .elementor-element.elementor-element-e6cdd58 {
    color: #FFFFFF8F;
}

.elementor-200 .elementor-element.elementor-element-656bc27 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-7792ad1 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: var(--e-global-color-314576f);
    --border-color: var(--e-global-color-314576f);
    --border-radius: 30px 30px 30px 30px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-left: 3px;
    --padding-right: 3px;
}

.elementor-200 .elementor-element.elementor-element-7792ad1, .elementor-200 .elementor-element.elementor-element-7792ad1::before {
    --border-transition: 0.3s;
}

body.rtl .elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-field-group .elementor-field {
    color: #FFFFFF8F;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px 30px 30px 30px;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px 30px 30px 30px;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-button {
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-primary);
    color: #ffffff;
    transition-duration: 1s;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-button[type="submit"] {
    background-color: var(--e-global-color-primary);
    color: #ffffff;
    transition-duration: 1s;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
    transition-duration: 1s;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
    transition-duration: 1s;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .e-form__buttons__wrapper__button-next:hover {
    background-color: var(--e-global-color-314576f);
    color: var(--e-global-color-643e8d9);
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-button[type="submit"]:hover {
    background-color: var(--e-global-color-314576f);
    color: var(--e-global-color-643e8d9);
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-button[type="submit"]:hover svg * {
    fill: var(--e-global-color-643e8d9);
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-message.elementor-message-success {
    color: var(--e-global-color-314576f);
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-message.elementor-message-danger {
    color: var(--e-global-color-314576f);
}

.elementor-200 .elementor-element.elementor-element-c096bb2 .elementor-message.elementor-help-inline {
    color: var(--e-global-color-314576f);
}

.elementor-200 .elementor-element.elementor-element-c096bb2 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-200 .elementor-element.elementor-element-6e7dd01 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-3794df3 {
    --divider-border-style: solid;
    --divider-color: #FFFFFF36;
    --divider-border-width: 1px;
}

.elementor-200 .elementor-element.elementor-element-3794df3 .elementor-divider-separator {
    width: 100%;
}

.elementor-200 .elementor-element.elementor-element-3794df3 .elementor-divider {
    padding-block-start: 20px;
    padding-block-end: 20px;
}

.elementor-200 .elementor-element.elementor-element-589c83d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 15px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-c2a27ae {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-9707072 img {
    width: 239px;
    max-width: 100%;
}

.elementor-200 .elementor-element.elementor-element-33cf3d8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-200 .elementor-element.elementor-element-78ee0fd {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-item>.elementor-icon-list-text, .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-item>a {
    font-family: "Kumbh Sans", Sans-serif;
    font-weight: 400;
}

.elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-text {
    color: #FFFFFF8F;
    transition: color 1s;
}

.elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-200 .elementor-element.elementor-element-56b7cb0 .elementor-heading-title {
    color: var(--e-global-color-314576f);
    font-family: "Jost", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}

.elementor-200 .elementor-element.elementor-element-a5b7162 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-f08e086 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-f08e086.e-con {
    --align-self: flex-end;
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px/2);
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px/2);
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}

body.rtl .elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px/2);
}

body:not(.rtl) .elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-20px/2);
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-icon i {
    color: var(--e-global-color-314576f);
    transition: color 1s;
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-314576f);
    transition: fill 1s;
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-secondary);
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-200 .elementor-element.elementor-element-523c9b9 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px;
}

.elementor-200 .elementor-element.elementor-element-523c9b9 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-200 .elementor-element.elementor-element-5c5d3f6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: flex-end;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-9eb068c .elementor-heading-title {
    color: var(--e-global-color-314576f);
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}

.elementor-200 .elementor-element.elementor-element-bf33c4a {
    color: var(--e-global-color-text);
    font-family: "Kumbh Sans", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-200 .elementor-element.elementor-element-e5113ea {
    color: var(--e-global-color-text);
    font-family: "Kumbh Sans", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-200 .elementor-element.elementor-element-24e2112 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-fa6d9cb {
    --divider-border-style: solid;
    --divider-color: #FFFFFF36;
    --divider-border-width: 1px;
}

.elementor-200 .elementor-element.elementor-element-fa6d9cb .elementor-divider-separator {
    width: 100%;
}

.elementor-200 .elementor-element.elementor-element-fa6d9cb .elementor-divider {
    padding-block-start: 20px;
    padding-block-end: 20px;
}

.elementor-200 .elementor-element.elementor-element-df33e87 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 5px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-fff5bc8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-f15b5e3 {
    color: var(--e-global-color-314576f);
    font-family: "Kumbh Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-200 .elementor-element.elementor-element-fae2c75 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-200 .elementor-element.elementor-element-2e2fda2 {
    text-align: right;
    color: var(--e-global-color-314576f);
    font-family: "Kumbh Sans", Sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.elementor-200 .elementor-element.elementor-element-5ff7206 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

body:not(.rtl) .elementor-200 .elementor-element.elementor-element-66399b3 {
    right: 1%;
}

body.rtl .elementor-200 .elementor-element.elementor-element-66399b3 {
    left: 1%;
}

.elementor-200 .elementor-element.elementor-element-66399b3 {
    bottom: 3%;
}

.elementor-200 .elementor-element.elementor-element-66399b3 .elementor-icon-wrapper {
    text-align: right;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before, .elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-200 .elementor-element.elementor-element-656bc27 {
        --width: 70%;
    }

    .elementor-200 .elementor-element.elementor-element-c2a27ae {
        --width: 30%;
    }

    .elementor-200 .elementor-element.elementor-element-33cf3d8 {
        --width: 70%;
    }

    .elementor-200 .elementor-element.elementor-element-f08e086 {
        --width: 60%;
    }

    .elementor-200 .elementor-element.elementor-element-5c5d3f6 {
        --width: 40%;
    }
}

@media(max-width:1024px) {
    .elementor-200 .elementor-element.elementor-element-95950b3 .elementor-heading-title {
        font-size: var(--e-global-typography-9fc2fa7-font-size);
        line-height: var(--e-global-typography-9fc2fa7-line-height);
    }
}

@media(max-width:767px) {
    .elementor-200 .elementor-element.elementor-element-2e7178f {
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --margin-top: 0px;
        --margin-bottom: 12px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-200 .elementor-element.elementor-element-95950b3 .elementor-heading-title {
        font-size: var(--e-global-typography-9fc2fa7-font-size);
        line-height: var(--e-global-typography-9fc2fa7-line-height);
    }

    .elementor-200 .elementor-element.elementor-element-c2a27ae {
        --justify-content: center;
    }

    .elementor-200 .elementor-element.elementor-element-33cf3d8 {
        --justify-content: flex-start;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(12px/2);
    }

    .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(12px/2);
    }

    .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(12px/2);
        margin-left: calc(12px/2);
    }

    .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-12px/2);
        margin-left: calc(-12px/2);
    }

    body.rtl .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-12px/2);
    }

    body:not(.rtl) .elementor-200 .elementor-element.elementor-element-78ee0fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-12px/2);
    }

    .elementor-200 .elementor-element.elementor-element-56b7cb0.elementor-element {
        --order: -99999
            /* order start hack */
        ;
    }

    .elementor-200 .elementor-element.elementor-element-f08e086 {
        /* --justify-content: center; */
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --margin-top: 15px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-200 .elementor-element.elementor-element-f08e086.e-con {
        --align-self: flex-end;
    }

    .elementor-200 .elementor-element.elementor-element-5c5d3f6 {
        --justify-content: center;
        --align-items: flex-start;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-200 .elementor-element.elementor-element-f15b5e3 {
        text-align: center;
    }

    .elementor-200 .elementor-element.elementor-element-fae2c75 {
        --justify-content: center;
    }

    body:not(.rtl) .elementor-200 .elementor-element.elementor-element-66399b3 {
        right: 3%;
    }

    body.rtl .elementor-200 .elementor-element.elementor-element-66399b3 {
        left: 3%;
    }
}